<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Trail</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#each traillist.trails}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                Latitude: {{location.latitude}}
                <br>
                Longitude: {{location.longitude}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                <a href="/traillist/{{../traillist._id}}/deletetrail/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>